.body11
{
background-image: url( https://belserver.org/round.jpg);
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
font-family: "Segoe UI";
color: #000000;
font-weight: 400;
align-content: center;
}
